.intro-main {
  width: 100vw;
  height: 100vh;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/eb482c64-e879-4e88-9ddc-d839cb7d1232/d03a05fb-39a4-4594-b16c-ddc39f35f5bd/IN-en-20220131-popsignuptwoweeks-perspective_alpha_website_small.jpg");
  background-position: center;
  background-size: cover;
}

.intro-main::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.intro-main .intro-container {
  padding: 2em 4em;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 600px) {
  .intro-main .intro-container {
    padding: 2em 1em;
  }
}

.intro-main .intro-container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-main .intro-container .navbar button {
  background-color: #e50914;
  color: white;
  border: none;
  font-size: 1.7rem;
  font-weight: 500;
  padding: .3em 1em;
  border-radius: 3px;
  cursor: pointer;
}

.intro-main .intro-container .intro-content {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-top: 112px;
}

.intro-main .intro-container .intro-content .intro-content-container {
  max-width: 600px;
  color: white;
}

.intro-main .intro-container .intro-content .intro-content-container .title {
  font-size: 4.7rem;
  text-align: center;
  line-height: 1;
}

.intro-main .intro-container .intro-content .intro-content-container p {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 3;
}

.intro-main .intro-container .intro-content .intro-content-container p:nth-of-type(2) {
  font-size: 1.7rem;
}

.feature .feature-container {
  padding: 2em 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
}

@media screen and (max-width: 950px) {
  .feature .feature-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.feature .feature-container .feature-left {
  color: white;
  line-height: 1.8;
}

.feature .feature-container .feature-left h1 {
  font-size: 4.125rem;
  line-height: 1.2;
}

.feature .feature-container .feature-left p {
  margin-top: 22px;
  font-size: 2.2rem;
  line-height: 1.4;
}

.feature .feature-container img {
  width: 530px;
  -o-object-fit: cover;
     object-fit: cover;
}

.feature .feature-container2 {
  padding: 2em 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
}

@media screen and (max-width: 950px) {
  .feature .feature-container2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.feature .feature-container2 .feature-left {
  color: white;
  line-height: 1.8;
}

.feature .feature-container2 .feature-left h1 {
  font-size: 4.125rem;
  line-height: 1.2;
}

.feature .feature-container2 .feature-left p {
  margin-top: 22px;
  font-size: 2.2rem;
  line-height: 1.4;
}

.feature .feature-container2 img {
  width: 530px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 72px;
}

.hr {
  height: 8px;
  background-color: #222222;
  border: none;
}

.footer .footer-container {
  padding: 9em 4em;
  color: #757575;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  max-width: 1000px;
  margin: 0 auto;
}

.footer .footer-container .footer {
  font-size: 1.5rem;
  margin-bottom: 32px;
}

.footer .footer-container .footer p {
  margin-bottom: 12px;
}

.footer .footer-container .footer p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer .footer-container .footer span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer .footer-container .footer:nth-of-type(1) {
  grid-column: span 5;
}

.faq .faq-container {
  color: white;
  padding: 2em 4em;
}

.faq .faq-container .faq-title {
  text-align: center;
}

.faq .faq-container .faq-title h1 {
  font-size: 3rem;
}

.faq-bar-container {
  max-width: 600px;
  margin: 20px auto;
}

.faq-bar-container .faq-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #303030;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5em 1.5em;
  margin-bottom: 12px;
  cursor: pointer;
}

.faq-bar-container .faq-bar p {
  font-size: 2rem;
}

.faq-bar-container .faq-bar .svg-icon {
  cursor: pointer;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.faq-bar-container .faq-bar-content {
  width: 100%;
  background-color: #303030;
  margin-top: 7px;
  padding: 1.5em 1.5em;
  display: none;
}

.faq-bar-container .faq-bar-content p {
  font-size: 1.8rem;
}

.faq-bar-container .faq-bar-content.active {
  display: block;
}

.input-container2 p {
  color: white;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 12px;
}

.intro-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 55px;
}

@media screen and (max-width: 950px) {
  .intro-input-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.intro-input-container input {
  min-width: 450px;
  display: block;
  height: 60px;
  font-size: 1.7rem;
  padding-left: .5em;
}

@media screen and (max-width: 950px) {
  .intro-input-container input {
    height: 48px;
  }
}

.intro-input-container button {
  background-color: #e50914;
  color: white;
  border: none;
  font-size: 2rem;
  height: 60px;
  width: 214px;
  cursor: pointer;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 950px) {
  .intro-input-container button {
    height: 40px;
    width: 131px;
    font-size: 1.7rem;
    margin-top: 15px;
  }
}

.intro-input-container button .chevron {
  height: 14px;
  margin-left: 10px;
}
/*# sourceMappingURL=intro.css.map */